:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --background-blue: hsl(217, 54%, 11%);
    --card-blue: hsl(216, 50%, 16%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--card-blue);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px hsl(217, 54%, 11%);
    text-align: left;
    width: 320px;
    height: 550px;
}

.main-img{
    border-radius: 8px;
    width: 100%;
    height: 270px;
    position: relative;
}

.container h1 {
    color: var(--White);
    text-align: left;
    font-size: 17px;
    padding: 15px 0;
}

.container h1:hover{
    color: var(--cyan);
    cursor: pointer;
}

.container p {
    color: var(--soft-blue);
    font-weight: 300;
    line-height: 1.6;
    font-size: 15px;
    padding: 8px 0;
}

.inner-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-top-section{
    padding: 10px 0;
    
}

.inner-bottom-section{
    padding: 10px 0;
}

.inner-top-section h4{
    color: var(--cyan);
    font-size: 17px;
    float: right;
    margin-left: 10px;
}

.inner-bottom-section p{
    float: right;
    margin-left: 7px;
}

.timer-img{
    margin-top: 13px;
}

.display-img {
    width: 30px;   
    margin-bottom: 20px;
}

.last-container{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid hsl(215, 32%, 27%);
}

.last-container .section-para{
    font-size: 14px;
    padding: 0;
    margin-right: 70px;
    margin-top: 3px;
    font-weight: 300;
}

.last-container span{
    color: white;
}

.last-container span:hover{
    color: var(--cyan);
    cursor: pointer;
}


/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}